* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  background-image: url("img/dice.jpeg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.clearfix {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  margin-top: 50px;
  width: 50%;
}

#button {
  background-color: black;
  border-radius: 6px;
  border: 4px solid green;
  color: white;
  padding: 10px;
  font-size: 1.25em;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

#button2 {
  background-color: red;
  border-radius: 6px;
  border: 4px solid green;
  color: black;
  padding: 10px;
  font-size: 1.25em;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

#reset {
  background-color: red;
  border-radius: 6px;
  border: 4px solid green;
  color: black;
  padding: 10px;
  font-size: 1.25em;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

#reset2 {
  background-color: black;
  border-radius: 6px;
  border: 4px solid green;
  color: white;
  padding: 10px;
  font-size: 1.25em;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

#placeholder,
#placeholder2 {
  color: black;
  background: red;
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 50px auto;
  border: 4px solid green;
  border-radius: 10px;  
  font-size: 80px;
}

#placeholder2 {
  color: white;
  background: black;
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 50px auto;
  border: 4px solid green;
  border-radius: 10px;  
  font-size: 80px;
}